body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background-color:rgb(238, 213, 211);
  color: black;
}

.isi {
  padding: 2px;
}

.outer {
  width: 100%;
  display: table;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: -20px;
  padding-left: 5px;
}

button, input[type=button] {
  background-color: rgb(236, 201, 226);
  border-radius: 0.5rem;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  width: 100px;
  top:-20px;
  border-color:transparent;
}

button:hover, input[type=button]:hover {
  background-color: purple;
  top:20px;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.box {
  text-align: center;
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  display: inline-table;
  background-color: rgb(250, 218, 215);
  border-radius: 10px;
  font-size: 14px;
  color: purple;
}

.box:hover {
  cursor:pointer;
  background-color: rgb(233, 181, 176);
  color:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.box2 {
  text-align: right;
  display: block;
  height: 50px;
  overflow: hidden;
}

.box2 input[type=text] {
  float: right;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.box2 h1 {
  margin-top:5px;
  float: left;
}

.box2 button {
  float: right;
  margin-right: 20px;
  margin-left: 10px;
}

input {
  padding: 10px;
  width: 200px;
  background-color: white;
  color:  rgb(36, 32, 31);
  border: none; 
  border-radius: 2px;
  margin-left: 10px;
}

input:focus {
  padding: 10px;
  width: 200px;
  background-color:white;
  color:  rgb(36, 32, 31);
  border: none;
  border-radius: 2px;
  margin-left: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
